<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dashboard{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        .primary-color { color: #006BFF; }
        .primary-bg { background-color: #006BFF; }
    </style>
</head>
<body class="bg-gray-100 min-h-screen">

    <!-- Navbar -->
    <nav class="relative bg-white shadow-lg py-4 sticky top-0">
        <div class="container mx-auto flex justify-between items-center">
            <a href='/' class="text-2xl font-bold primary-color">FMS</a>
            <div class="flex items-center gap-4">
                <!-- Campaigns Link for All Users -->
                <a href="{% url 'campaigns:campaign_list' %}" class="primary-color">Campaigns</a>

                <!-- Admin-specific Links -->
                {% if user.role == 'Admin' %}
                    <a href="{% url 'campaigns:campaign_create' %}" class="primary-color">Create Campaign</a>
                    {% comment %} <a href="{% url 'user_profile' %}" class="primary-color">Users</a> {% endcomment %}
                {% endif %}
            </div>
            <div class="flex items-center gap-4">
                <a href="/profile" class="primary-color">Profile</a>
                <a href="{% url 'logout' %}" class="primary-color font-medium">Logout</a>
            </div>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="container mx-auto mt-12">
        {% block content %}{% endblock %}
    </div>
</body>
</html>